h1,h2,h3,h4,h5,h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-image: url(../images/bg.png);
    margin: 0px;
}
.header-sides {
    background-color: white;
    width: 100%;
    border-bottom: 2px solid #ccc;
}
header {
    width: 960px;
    margin: auto;
    background: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.title {
    float: left;
    background: #4aaaa5;
    color: white;
    padding: 30px 25px;
    margin: 0px;
}
nav {
    float: right;
    padding-top: 35px;
    margin: 0px;
}
nav ul {
    margin: 0px;
    padding: 0px;
}
nav li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}
nav li:last-child {
    border: 0px;
    padding-left: 10px;
}
nav li a {
    color: #999;
    text-decoration: none;
    font-size: 18px;
}
nav li a:hover {
    background: lightgrey;
    padding: 5px;
    border-radius: 25%;
}
main {
    width: 908px;  /* reduced to 908px to keep overall width at 960px */
    margin: 40px auto 120px;
    background-color: white;
    padding: 25px;
    border: 1px solid #ddd;
    line-height: 1.9;
}
.content-header {
    color: #4aaaa5;
    padding-bottom: 20px;
    border-bottom: 3px solid #ccc;
    margin-top: 0px;
}
footer {
    background-color: #666;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0px;
}

.float-left {
    float: left;
    padding-right: 25px;
}
.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.container {
    position: relative;
    display: inline-block;
    margin: 25px 40px 25px 0px;
  }
  .bottom-center {
    position: absolute;
    left: 0px;
    bottom: 20px;
    background: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    text-align: center;
    color: white;
  }

  .form-box {
      height: 25px;
      border: 1px solid #ddd;
      width: 100%;
      margin-bottom: 10px;
  }

  /* Media Queries - Use three @media screen tags, each with one of these max-widths: 980px, 768px and 640px. */

@media screen and (max-width: 980px) {
    header, footer {
        width: 100%
    }
    .title {
        margin-left: 5%;
    }
    nav {
        margin-right:5%;
    }
    main {
        width: 55%;
        margin-left: 5%;
        margin-right: 95%;
    }
    .container {
        margin: 0px 6px 5px 0px;
    }

}
 
@media screen and (max-width: 768px) {
    main {
        width: 85%;
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media screen and (max-width: 640px) {
    main {
        margin: 20px;
    }
    .title, nav {
        float: none;
        text-align: center;
        margin: 0px;
        padding: 15px;
    }
    .container {
        margin: 0px 5px 5px 0px;
    }
    footer {
        position: initial;
    }

}
